.action {
    transition: all .2s cubic-bezier(.77,0,.175,1);
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid #f5f6fa;
    border-radius: 999px;
    background-color: #f5f6fa;
    align-items: center;
    justify-content: center;

    i {
        font-size: 1.5rem;
        color: #b1b9d8;
    }

    &:hover i {
        color: white;
    }

    &.action-warning:hover {
        border: 2px solid #e97c2a;
        background-color: #efa75e;
    }

    &.action-danger:hover {
        border: 2px solid #e95b5b;
        background-color: #ef8888;
    }

    &.action-success:hover {
        border: 2px solid #abd858;
        background-color: #c0e281;
    }
}
